.carousel-item{
    height: 35rem;
    background-color: black;
}

.carousel-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position:  center;
    background-size: cover;
    opacity: 0.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
 p {
   font-family: 'News Cycle', sans-serif;;
}