.paragraph, .title{
    font-family: 'News Cycle', sans-serif;
}

.paragraph{
    font-size: 34px;
    text-justify: auto;
}

.title{
    font-size: 40px;
    text-align: center;
    background-color: #f3270c;
    color: #fff;
    margin: 25px;
}

.cards{
    text-justify: auto;
    margin-top: 20px;
}

.cardsImage{
    width: auto;
    height: 450px;
}

.container-wrapper{
   background: #f2f2f2;
   box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.banner-medium, .banner-movil, .banner{
    display: block;
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: auto;
   margin-right: auto;
}

.banner-movil, .banner-medium{
    display: none;
}

@media only screen and (max-width: 1198px) {

    .container-wrapper{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    .banner{
        display: none;
    }

    .banner-medium{
        display: block;
    }
}

@media only screen and (max-width: 600px) {

    .banner-medium{
        display: none;
    }
    .banner-movil{
        display: block;
    }
}